FMS console Final by FMSA3/FMS console Final by FMSA3/MMS-FMS.Integration/Service References/ERPService/ERPService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.16:2020/ERPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IIITS.ERP.BL" />
  <xs:import schemaLocation="http://192.168.4.16:2020/ERPService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.4.16:2020/ERPService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/IIITS.ERPService" />
  <xs:element name="UserCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IIITS.ERP.BL" minOccurs="0" name="objUser" nillable="true" type="q1:clsUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCreateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeMasterSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeDetails" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeMasterSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeMasterSaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJVFailureStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JTM_TransID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJVFailureStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPurchaseOrderDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJVTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DebitAccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreditAccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount" type="xs:double" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="TransDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Narration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SourceTransId" type="xs:int" />
        <xs:element minOccurs="0" name="SourceDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JVTransId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJVTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateJVTransactionResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateJVCreation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DebitAccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreditAccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TotalAmount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateJVCreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidateJVCreationResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkorderAccountValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkorderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkorderAccountValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkorderAccountValidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSanctionedstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstimateNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autoreferencenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officecode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSanctionedstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSanctionedstatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkorderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODetailsLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoreferencetrms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officecode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoreferencetrmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoreferencetrmsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBudgetAmountForAccountCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBudgetAmountForAccountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchBudgetAmountForAccountCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkOrderDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstimateDetailsCRDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstimateDetailsCRDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstimateDetailsCRDoneResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendestimateDetailstoTrms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstimationAutogenerate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstimateDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TotalWorkOrderCost" type="xs:double" />
        <xs:element minOccurs="0" name="autoreferencenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLoggedUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Wodesc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendestimateDetailstoTrmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendestimateDetailstoTrmsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Applicationdet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autoreferencenumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationdetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationdetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrmsConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantrefid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrmsConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrmsConnectionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Savecrcomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wocrflag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trmsno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wonumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wodate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estimatenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estimatedate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indentno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoicenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="woautorefid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indentdate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavecrcompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavecrcompleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJVSuccessStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JVTransId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJVSuccessStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateJVSuccessStatusResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="workorderwisebookedrpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divisionoff" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="workorderwisebookedrptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workorderwisebookedrptResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsForCRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsForCRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODetailsForCRegisterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrderNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorId" type="xs:int" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrderNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPurchaseOrderNumberResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRvNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PurchaseorderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRvNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRvNumberResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoRVnumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorId" type="xs:int" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoRVnumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPoRVnumbersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRvdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PurchaseorderId" type="xs:int" />
        <xs:element minOccurs="0" name="rv_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRvdetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchRvdetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRvBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonerializeddata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bill_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRvBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaveRvBillResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWOItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WOId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWOItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWOItemDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCollectionSourceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCodeFromERP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCodeFromERPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountCodeFromERPResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure22AB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure22ABResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnnexure22ABResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure22ABCircle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure22ABCircleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnnexure22ABCircleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure40A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure40AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnnexure40AResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure40B">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure40BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnnexure40BResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure30A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure30AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnnexure30AResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure30">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnexure30Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnnexure30Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActivityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransferDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferWorkResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBudgetAccountCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSchemesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="SchemeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjectsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVendorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLCBGRefID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="VendorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLCBGRefIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLCBGRefIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsurenceRefID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="VendorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsurenceRefIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInsurenceRefIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLCBGInsurenceRefID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="VendorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLCBGInsurenceRefIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLCBGInsurenceRefIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCodeAndActivityCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCodeAndActivityCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountCodeAndActivityCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterForEstimate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="sKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterForEstimateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMasterForEstimateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForBudgetLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActivityCode" type="xs:int" />
        <xs:element minOccurs="0" name="Amount" type="xs:double" />
        <xs:element minOccurs="0" name="TransDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SchemeId" type="xs:int" />
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForBudgetLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForBudgetLimitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFMSUserDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFMSUserDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFMSUserDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsAfterCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WOId" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WONo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsAfterCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODetailsAfterCRResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iPurchaseOrderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPOItemDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsForCRegisterAbstract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WOId" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsForCRegisterAbstractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODetailsForCRegisterAbstractResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODataForCWIPReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WOFromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WOToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FMSStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WoNumbers" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODataForCWIPReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODataForCWIPReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsForReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Wonumbers" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODetailsForReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODetailsForReportsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWOAfterCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWOAfterCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWOAfterCRResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReleaseEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActivityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BalanceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RIId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReleaseEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckReleaseEntryResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnedDownValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RIId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnedDownValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReturnedDownValuesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpillOverWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wo_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wo_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationcode" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acccode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpillOverWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckSpillOverWorkResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RIId" type="xs:int" />
        <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReleaseQtyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetReleaseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActivityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BalanceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RIId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetReleaseStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateAssetReleaseStatusResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectJVTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MMSTransId" type="xs:int" />
        <xs:element minOccurs="0" name="JVTransId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectJVTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RejectJVTransactionResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWDVValuesinMMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccontCodeDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActivityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BalanceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RIId" type="xs:int" />
        <xs:element minOccurs="0" name="WDVValue" type="xs:double" />
        <xs:element minOccurs="0" name="TransType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWDVValuesinMMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaveWDVValuesinMMSResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrstatusDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrstatusDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCrstatusDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOBMMSWorkOrderExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="WorkOrderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOBMMSWorkOrderExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOBMMSWorkOrderExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillRegisterSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BR_LocCode" type="xs:int" />
        <xs:element minOccurs="0" name="BR_Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BR_ManualBRNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BR_Narration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jvnaration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BR_ManualBRDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BR_BillCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BR_BillType" type="xs:int" />
        <xs:element minOccurs="0" name="BR_BudgetACCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BR_BasicBill_Amount" type="xs:double" />
        <xs:element minOccurs="0" name="BR_Total_BillAmount" type="xs:double" />
        <xs:element minOccurs="0" name="BR_Net_BillAmount" type="xs:double" />
        <xs:element minOccurs="0" name="BR_JVDetails" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Bill_ID" type="xs:int" />
        <xs:element minOccurs="0" name="dtEmployeeDetails" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="JVType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillRegisterSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BillRegisterSaveResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWoInvoiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWoInvoiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWoInvoiceDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HRMSAutoCashEntrySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DispersementDetails" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HRMSAutoCashEntrySaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HRMSAutoCashEntrySaveResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetAccountCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetAccountCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssetAccountCodesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTKWorkorderSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkInspectionID" type="xs:int" />
        <xs:element minOccurs="0" name="Crby" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTKWorkorderSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TTKWorkorderSaveResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchWorkDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchWorkDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchWorkDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFaultContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFaultContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckFaultContractResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Token" nillable="true" type="xs:string" />
  <xs:element name="UserLoginSuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IIITS.ERPService" minOccurs="0" name="User" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODataForCWIPSummaryReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WOFromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WOToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FMSStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WoNumbers" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODataForCWIPSummaryReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWODataForCWIPSummaryReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateATDetials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BRID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateATDetialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateATDetialsResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJVTransactionCWIPTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DebitAccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreditAccountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount" type="xs:double" />
        <xs:element minOccurs="0" name="LocationCode" type="xs:int" />
        <xs:element minOccurs="0" name="TransDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Narration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SourceTransId" type="xs:int" />
        <xs:element minOccurs="0" name="SourceDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JVTransId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJVTransactionCWIPTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateJVTransactionCWIPTransferResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>